# Libraries Imports

In [1]:
import pandas as pd
import datetime
from datetime import date

# Importing the Dataset

In [2]:
raw_data = pd.read_csv('../raw_data/raw_data.csv')
raw_data

,ID Aluno,Turma,Plano,Faixa,Redações,Vídeos,Questões,Data Matr.,Simulados,Tutor,Logins,Perfil,Data Cancel.,Data Nasc.,Acesso até
0,95738,Medicina 2020,MONTHLY,Faixa Branca Grau III,0,1,0,04/04/2017 05:40:09,1,COM TUTOR,1,Exclusivo,NaN,NaN,18/03/2020 02:59:59
1,112701,Medicina 2020,MONTHLY,Faixa Preta Grau III,0,9,124,07/11/2017 14:06:36,1,COM TUTOR,4,Exclusivo,NaN,05/02/1984 00:00:00,31/12/2031 02:59:59
2,112702,Medicina 2020,MONTHLY,Faixa Verde Grau II,2,74,1359,07/11/2017 15:43:33,4,COM TUTOR,86,Exclusivo,NaN,19/07/1980 00:00:00,30/12/2029 15:00:00
3,120504,ITA e IME 2020,FULL,Faixa Branca Grau I,0,24,64,27/09/2019 00:00:00,4,COM TUTOR,5,Exclusivo,20/02/2020 02:59:59,07/04/2002 00:00:00,24/12/2020 15:00:00
4,120759,ITA e IME 2020,FULL,Faixa Verde Grau I,17,1166,1598,18/08/2019 00:00:00,2,COM TUTOR,237,Exclusivo,NaN,05/12/2001 00:00:00,22/02/2021 02:59:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27493,143264,ITA e IME 2019,MONTHLY,Faixa Branca Grau I,0,0,0,5/12/2019 12:48:53,0,COM TUTOR,0,Exclusivo,NaN,20/12/2000 00:00:00,23/12/2019 15:00:00
27494,143265,Medicina e Extensivo 2019,MONTHLY,Faixa Branca Grau I,3,0,0,5/12/2019 13:32:17,0,COM TUTOR,6,Exclusivo,NaN,16/03/2000 00:00:00,23/01/2020 15:00:00
27495,143269,Medicina e Extensivo 2019,MONTHLY,Faixa Branca Grau I,0,0,0,5/12/2019 17:28:52,0,COM TUTOR,0,Exclusivo,NaN,10/08/2001 00:00:00,23/01/2020 15:00:00
27496,143321,ITA e IME 2019,MONTHLY,Faixa Branca Grau I,0,35,27,9/12/2019 12:08:18,0,COM TUTOR,15,Exclusivo,NaN,30/09/2001 00:00:00,23/01/2020 15:00:00
27497,143479,ITA e IME 2019,MONTHLY,Faixa Branca Grau I,0,14,7,20/12/2019 20:11:59,0,COM TUTOR,47,Exclusivo,NaN,30/12/1988 00:00:00,31/01/2021 00:00:00

In [3]:
df = raw_data.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27498 entries, 0 to 27497
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Aluno      27498 non-null  int64
 1   Turma         27498 non-null  object
 2   Plano         27498 non-null  object
 3   Faixa         27498 non-null  object
 4   Redações      27498 non-null  int64
 5   Vídeos        27498 non-null  int64
 6   Questões      27498 non-null  int64
 7   Data Matr.    27058 non-null  object
 8   Simulados     27498 non-null  int64
 9   Tutor         27498 non-null  object
 10  Logins        27498 non-null  int64
 11  Perfil        27498 non-null  object
 12  Data Cancel.  4001 non-null   object
 13  Data Nasc.    11315 non-null  object
 14  Acesso até    27498 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.1+ MB

# Student Profile

In [5]:
#Checking birth dates >>>> too much null values >>>> not reliable >>>> 58.85155284020656
df['Data Nasc.'].isnull().sum()/df.shape[0]*100

58.85155284020656

In [6]:
#Checking churn >>>> less than 15% >>>> -14.55014910175285
(df['Data Cancel.'].isnull().sum()/df.shape[0]-1)*100

-14.55014910175285

In [7]:
#Checking the % of students by class/interest
df['Turma'].value_counts()/df.shape[0]*100

Medicina e Extensivo 2019             32.675104
ITA e IME 2019                        18.466798
Semiextensivo 18                      14.306495
Extensivo Medicina 2021               10.269838
Medicina 2020                          8.087861
ITA e IME 2020                         5.291294
Extensivo ITA/IME 2021                 4.156666
Intensivo 2018                         1.898320
Extensivo 18                           1.243727
Semiextensivo Medicina 2019            1.196451
Intensivo 2019                         1.130991
SEMIEXTENSIVO - TURMA MED 2020         0.956433
Intensivo ITA-IME 2021                 0.181831
SEMIEXTENSIVO - TURMA ITA/IME 2020     0.138192
Name: Turma, dtype: float64

In [8]:
#Checking the % of students by payment plan
df['Plano'].value_counts()/df.shape[0]*100

FULL       92.584915
MONTHLY     7.415085
Name: Plano, dtype: float64

In [9]:
#Checking the % of students by Faixa
df['Faixa'].value_counts()/df.shape[0]*100

Faixa Branca Grau I      78.907557
Faixa Branca Grau IV      5.338570
Faixa Verde Grau I        3.178413
Faixa Branca Grau V       3.174776
Faixa Verde Grau II       2.905666
Faixa Verde Grau III      1.294640
Faixa Branca Grau III     1.291003
Faixa Azul Grau III       1.185541
Faixa Azul Grau II        0.829151
Faixa Preta Grau III      0.625500
Faixa Lilás Grau I        0.290930
Faixa Lilás Grau III      0.290930
Faixa Azul Grau I         0.207288
Faixa Branca Grau II      0.192741
Faixa Preta Grau I        0.141828
Faixa Preta Grau II       0.080006
Faixa Lilás Grau II       0.065459
Name: Faixa, dtype: float64

In [10]:
#Checking the % of students by Tutor
df['Tutor'].value_counts()/df.shape[0]*100

SEM TUTOR    74.187214
COM TUTOR    25.812786
Name: Tutor, dtype: float64

In [11]:
#Checking the % of students by Profile
df['Perfil'].value_counts()/df.shape[0]*100

Exclusivo    90.152011
Parcial       8.127864
Consulta      1.720125
Name: Perfil, dtype: float64

**What's the general profile of the students?**

More than 50% of the students are enrolled on prep courses for **Medicina e Extensivo** 2019 and **ITA e IME 2019**.

More than 90% of the students have chosen the **Full** plan, which means they are pretty sure of their choices.

Almost 80% of the students are classified as **Faixa Branca Grau I**, which probably means an entry-level.

Almost 75% of the students have chosen a path **without a Tutor**.

More than 90% of the students have chosen the **Exclusive** plan. Probably it's related to the level of access they want to have.

Since almost 60% of the birth dates are **null**, it doesn't seems a good feature to be used as a profile maker.

**IN SUMMARY**

We could assume the standard student has a focus on highly competitive courses, and they are pretty sure about it!

# Student Engagement

In [12]:
df['Simulados'].value_counts()[0]/df.shape[0]*100

78.87482726016437

In [13]:
df['Redações'].value_counts()[0]/df.shape[0]*100

79.8094406865954

In [14]:
df['Vídeos'].value_counts()[0]/df.shape[0]*100

60.27347443450432

In [15]:
df['Questões'].value_counts()[0]/df.shape[0]*100

55.63677358353335

In [16]:
df['Logins'].value_counts()[0]/df.shape[0]*100

67.41217543094044

**Considering the school methods, are the students engaged? How can we define engagement?**

Apparently **NOT**! If we consider engagement as the rate of activities the students perform after classes, we can clearly see there's not much activities being done outside the class!

# Student Churn

In [17]:
df5 = df.copy()

In [18]:
df5 = df5.dropna(subset=['Data Cancel.'])
df5.reset_index(drop=True, inplace=True)

In [19]:
df5['Data Cancel.'] = pd.to_datetime(df5['Data Cancel.'])
df5['Data Matr.'] = pd.to_datetime(df5['Data Matr.'])
df5['Delta'] = df5['Data Cancel.'] - df5['Data Matr.']

#df5['Data Cancel.'] = df5['Data Cancel.'].astype('datetime64[ns]')
#df5['Data Matr.'] = df5['Data Matr.'].astype('datetime64[ns]')

In [20]:
df5['Teste'] = ''

In [21]:
for i in range(0, df5.shape[0]):
    df5['Teste'][i] = df5['Delta'][i].days

df5.drop(columns='Delta', inplace=True)

/tmp/ipykernel_2248/184559641.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['Teste'][i] = df5['Delta'][i].days

In [34]:
#680 records were incorrectly filled, so they won't be eligible for evaluation
df5[df5['Teste'] < 0]

,ID Aluno,Turma,Plano,Faixa,Redações,Vídeos,Questões,Data Matr.,Simulados,Tutor,Logins,Perfil,Data Cancel.,Data Nasc.,Acesso até,Teste
12,141835,ITA e IME 2020,FULL,Faixa Branca Grau I,0,81,97,2019-12-09 22:09:48,0,COM TUTOR,0,Parcial,2019-10-22 00:00:00,05/04/2001 00:00:00,25/12/2020 00:00:00,-49
23,141930,ITA e IME 2020,MONTHLY,Faixa Branca Grau IV,0,40,52,2019-09-28 07:16:30,0,COM TUTOR,0,Exclusivo,2019-04-11 20:52:28,12/04/2003 00:00:00,28/10/2019 07:16:28,-170
531,143587,ITA e IME 2020,MONTHLY,Faixa Branca Grau I,0,0,0,2020-03-01 19:25:02,0,COM TUTOR,0,Exclusivo,2020-01-07 15:00:00,09/11/1999 00:00:00,25/12/2020 00:00:00,-55
535,143597,ITA e IME 2020,MONTHLY,Faixa Azul Grau III,8,365,2867,2020-04-01 10:55:28,13,COM TUTOR,214,Parcial,2020-02-12 22:41:19,08/05/1999 00:00:00,25/12/2020 02:59:59,-49
540,143624,Medicina 2020,FULL,Faixa Branca Grau V,0,35,362,2020-05-01 23:06:43,0,COM TUTOR,18,Exclusivo,2020-02-19 02:59:59,10/11/1988 00:00:00,31/01/2021 00:00:00,-73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3990,142515,Medicina e Extensivo 2019,FULL,Faixa Branca Grau I,1,11,0,2019-10-30 13:42:32,0,COM TUTOR,1,Parcial,2019-01-11 14:36:31,20/02/2000 00:00:00,30/10/2019 13:42:32,-292
3991,142523,Medicina e Extensivo 2019,FULL,Faixa Branca Grau I,0,6,4,2019-10-30 17:54:43,0,COM TUTOR,5,Exclusivo,2019-05-11 07:36:22,25/07/2001 00:00:00,30/10/2019 17:54:43,-173
3992,142525,Medicina e Extensivo 2019,FULL,Faixa Branca Grau I,0,1,0,2019-10-30 18:55:38,0,COM TUTOR,2,Exclusivo,2019-01-11 12:26:58,05/03/1992 00:00:00,30/10/2019 18:55:38,-293
3993,142540,ITA e IME 2019,FULL,Faixa Branca Grau I,0,5,4,2019-10-31 20:01:08,1,COM TUTOR,2,Exclusivo,2019-01-11 11:10:38,01/04/2002 00:00:00,31/10/2019 20:01:08,-294
3998,142808,ITA e IME 2019,MONTHLY,Faixa Branca Grau I,0,0,0,2019-05-11 14:54:22,0,COM TUTOR,0,Exclusivo,2019-01-12 00:00:00,20/07/1999 00:00:00,01/01/2021 00:00:00,-120

In [68]:
df5.drop(df5[(df5['Teste'] < 0)].index, inplace=True)

In [69]:
df_over_30 = df5[df5['Teste'] > 30]

In [70]:
df_over_30.describe()

,ID Aluno,Redações,Vídeos,Questões,Simulados,Logins
count,2748.000000,2748.000000,2748.000000,2748.000000,2748.000000,2748.000000
mean,142286.571325,5.747089,397.696507,1295.498180,3.300218,61.610626
std,15324.699869,12.039149,698.822126,2171.571166,6.415515,92.670228
min,18942.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,129711.750000,0.000000,3.750000,44.000000,0.000000,0.000000
50%,142938.500000,0.000000,95.000000,291.000000,0.000000,13.000000
75%,149870.250000,5.000000,447.250000,1553.750000,3.000000,85.000000
max,172278.000000,111.000000,6324.000000,16004.000000,62.000000,611.000000

We can see that the great majority of students who left after 30 days really explored the school's features

In [71]:
df_under_14 = df5[df5['Teste'] < 14]

In [73]:
df_under_14.describe()

,ID Aluno,Redações,Vídeos,Questões,Simulados,Logins
count,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000
mean,146558.407115,0.928854,67.256917,204.339921,0.537549,7.387352
std,14565.848301,3.783170,269.116900,703.927685,1.978950,30.506572
min,113492.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,134987.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,145846.000000,0.000000,4.000000,5.000000,0.000000,1.000000
75%,161950.000000,0.000000,33.000000,61.000000,0.000000,3.000000
max,171483.000000,33.000000,2576.000000,5052.000000,22.000000,260.000000

In [26]:
date.today().year

2022