# Libraries Imports

In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

# Importing the Dataset

In [2]:
raw_data = pd.read_csv('../raw_data/raw_data.csv')
raw_data.head(5)

,ID Aluno,Turma,Plano,Faixa,Redações,Vídeos,Questões,Data Matr.,Simulados,Tutor,Logins,Perfil,Data Cancel.,Data Nasc.,Acesso até
0,95738,Medicina 2020,MONTHLY,Faixa Branca Grau III,0,1,0,04/04/2017 05:40:09,1,COM TUTOR,1,Exclusivo,NaN,NaN,18/03/2020 02:59:59
1,112701,Medicina 2020,MONTHLY,Faixa Preta Grau III,0,9,124,07/11/2017 14:06:36,1,COM TUTOR,4,Exclusivo,NaN,05/02/1984 00:00:00,31/12/2031 02:59:59
2,112702,Medicina 2020,MONTHLY,Faixa Verde Grau II,2,74,1359,07/11/2017 15:43:33,4,COM TUTOR,86,Exclusivo,NaN,19/07/1980 00:00:00,30/12/2029 15:00:00
3,120504,ITA e IME 2020,FULL,Faixa Branca Grau I,0,24,64,27/09/2019 00:00:00,4,COM TUTOR,5,Exclusivo,20/02/2020 02:59:59,07/04/2002 00:00:00,24/12/2020 15:00:00
4,120759,ITA e IME 2020,FULL,Faixa Verde Grau I,17,1166,1598,18/08/2019 00:00:00,2,COM TUTOR,237,Exclusivo,NaN,05/12/2001 00:00:00,22/02/2021 02:59:59

In [3]:
df = raw_data.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27498 entries, 0 to 27497
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Aluno      27498 non-null  int64
 1   Turma         27498 non-null  object
 2   Plano         27498 non-null  object
 3   Faixa         27498 non-null  object
 4   Redações      27498 non-null  int64
 5   Vídeos        27498 non-null  int64
 6   Questões      27498 non-null  int64
 7   Data Matr.    27058 non-null  object
 8   Simulados     27498 non-null  int64
 9   Tutor         27498 non-null  object
 10  Logins        27498 non-null  int64
 11  Perfil        27498 non-null  object
 12  Data Cancel.  4001 non-null   object
 13  Data Nasc.    11315 non-null  object
 14  Acesso até    27498 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.1+ MB

# Student Profile

In [4]:
df3 = df.copy()

## Turma

In [5]:
df_turma = df3.copy()

In [6]:
#Checking the % of students by class/interest
df_turma['Turma'].value_counts()/df.shape[0]*100

Medicina e Extensivo 2019             32.675104
ITA e IME 2019                        18.466798
Semiextensivo 18                      14.306495
Extensivo Medicina 2021               10.269838
Medicina 2020                          8.087861
ITA e IME 2020                         5.291294
Extensivo ITA/IME 2021                 4.156666
Intensivo 2018                         1.898320
Extensivo 18                           1.243727
Semiextensivo Medicina 2019            1.196451
Intensivo 2019                         1.130991
SEMIEXTENSIVO - TURMA MED 2020         0.956433
Intensivo ITA-IME 2021                 0.181831
SEMIEXTENSIVO - TURMA ITA/IME 2020     0.138192
Name: Turma, dtype: float64

In [7]:
#turmas = sorted(df_turma['Turma'].unique())
#turmas

turmas_top5 = ['Med. Ext. 19', 'ITA IME 19', 'Semiext. 18', 'Ext. Med. 21', 'Med. 20']
turmas_top5

#turmas_alunos = [df_turma['Turma'].value_counts()[a] for a in range(0,5)]
#turmas_alunos

['Med. Ext. 19', 'ITA IME 19', 'Semiext. 18', 'Ext. Med. 21', 'Med. 20']

In [8]:
plt.bar(turmas_top5, turmas_alunos, width=0.8);
plt.title('Turmas');
plt.ylabel('Number of Students');
plt.xlabel('Top 5 Courses');

NameError: name 'turmas_alunos' is not defined

More than **50%** of the students are enrolled on prep courses for **Medicina e Extensivo 2019** and **ITA e IME 2019**.

In [ ]:
df_turma['Data Matr.'] = pd.to_datetime(df_turma['Data Matr.'])

In [ ]:
df_turma['Year_Enrollment'] = ''

for i in range(0, df_turma.shape[0]):
    df_turma['Year_Enrollment'][i] = df_turma['Data Matr.'][i].year

In [ ]:
#Checking the values
df_turma['Year_Enrollment'].unique() # >>> array(['2017', '2019', '2020', '2021', '2016', 'nan', '2018'], dtype=object)

#Dropping null values
df_turma = df_turma.dropna(subset=['Year_Enrollment'])

#Changing the values to strings
df_turma['Year_Enrollment'] = df_turma['Year_Enrollment'].astype(str)

### Medicina e Extensivo 2019

In [ ]:
df_med_ext_2019 = df_turma[df_turma['Turma'] == 'Medicina e Extensivo 2019']

#Getting the years of enrollment
years = sorted(df_med_ext_2019['Year_Enrollment'].unique()) # >>> ['2017', '2018', '2019']

#Getting the number of years
heights = [(df_med_ext_2019['Year_Enrollment'] == y).sum() for y in years] # >>> [8, 1453, 7508]

In [ ]:
plt.bar(years, heights, width=1);
plt.title('Enrollment Years - Medicina e Extensivo 2019');
plt.ylabel('Number of Students');
plt.xlabel('Year');

### ITA e IME 2019

In [ ]:
df_ita_ime_2019 = df_turma[df_turma['Turma'] == 'ITA e IME 2019']

#Getting the years of enrollment
years = sorted(df_ita_ime_2019['Year_Enrollment'].unique()) # >>> ['2017', '2018', '2019']

#Getting the number of years
heights = [(df_ita_ime_2019['Year_Enrollment'] == y).sum() for y in years] # >>> [8, 936, 4115]

In [ ]:
plt.bar(years, heights, width=1);
plt.title('Enrollment Years - ITA e IME 2019');
plt.ylabel('Number of Students');
plt.xlabel('Year');

## Plano

In [ ]:
#Checking the % of students by payment plan
df3['Plano'].value_counts()/df.shape[0]*100

In [ ]:
#Getting the plan types
plans = sorted(df3['Plano'].unique()) # >>> ['FULL', 'MONTHLY']

#Getting the number of students per plan
plans_students = [(df3['Plano'] == p).sum() for p in plans] # >>> [25459, 2039]

In [ ]:
plt.bar(plans, plans_students, width=1);
plt.title('Payment Plans');
plt.ylabel('Number of Students');
plt.xlabel('Plan Type');

In [ ]:
plt.pie(plans_students, labels=plans, labeldistance=1.1);

More than 90% of the students have chosen the **Full** plan, which means: A)they are pretty sure of their choices, or; B)the payment conditions were more attractive.

## Faixa

In [ ]:
#Checking the % of students by belt
df3['Faixa'].value_counts()/df.shape[0]*100

Almost 80% of the students are classified as **Faixa Branca Grau I**, which probably means an entry-level.

## Tutor

In [ ]:
#Checking the % of students by Tutor
df3['Tutor'].value_counts()/df.shape[0]*100

In [ ]:
#Getting the tutor choices
tutors = sorted(df3['Tutor'].unique()) # >>> ['COM TUTOR', 'SEM TUTOR']

#Getting the number of students per plan
tutors_students = [(df3['Tutor'] == p).sum() for p in tutors] # >>> [7098, 20400]

In [ ]:
plt.pie(tutors_students, labels=tutors, labeldistance=1.1);

Almost 75% of the students have chosen a path **without a Tutor**.

## Perfil

In [ ]:
#Checking the % of students by Profile
df3['Perfil'].value_counts()/df.shape[0]*100

In [ ]:
#Getting the profile types
profile = sorted(df3['Perfil'].unique()) # >>> ['Consulta', 'Exclusivo', 'Parcial']

#Getting the number of students per profile
profile_students = [(df3['Perfil'] == p).sum() for p in profile] # >>> [473, 24790, 2235]

In [ ]:
plt.bar(profile, profile_students, width=1);
plt.title('Profile Types');
plt.ylabel('Number of Students');
plt.xlabel('Profile Type');

In [ ]:
plt.pie(profile_students, labels=profile, labeldistance=1.1);

More than 90% of the students have chosen the **Exclusive** plan. Probably it's related to the level of access they want to have.

## Data de Nascimento

In [ ]:
#Checking birth dates >>>> too much null values +58% >>>> not reliable >>>> 58.85155284020656
df3['Data Nasc.'].isnull().sum()/df.shape[0]*100

Since almost 60% of the birth dates are **null**, it doesn't seems a good feature to be used as a profile maker.

## Conclusion

**What's the general profile of the students?**

**IN SUMMARY**

We could assume the standard student has a focus on highly competitive courses, which matches the school slogan!

They mostly enroll on the course at the very year of the tests, however we do see a small amount of students who enroll a year or two before the tests.

The preferred payment option is FULL, with EXCLUSIVE access to available materials and WITHOUT the support of a Tutor. Maybe the students don't see this extra feature as worthy due to its cost.

# Student Engagement

In [ ]:
df4 = df.copy()

In [ ]:
#Checking the % of students who have done ZERO Simulados >>> 78.87482726016437
df4['Simulados'].value_counts()[0]/df.shape[0]*100

#Checking the % of students who have done ZERO Redações >>> 79.8094406865954
df4['Redações'].value_counts()[0]/df.shape[0]*100

#Checking the % of students who have watched ZERO Vídeos >>> 60.27347443450432
df4['Vídeos'].value_counts()[0]/df.shape[0]*100

#Checking the % of students who have done ZERO Questions >>> 55.63677358353335
df4['Questões'].value_counts()[0]/df.shape[0]*100

#Checking the % of students who have done ZERO Logins >>> 67.41217543094044
df4['Logins'].value_counts()[0]/df.shape[0]*100

In [ ]:
plt.figure(figsize=(22, 3))
plt.subplot(1, 5, 1)
plt.hist(df4['Redações'], bins=30);
plt.title('Redações');
plt.xlabel('Amount performed');
plt.ylabel('Number of Students');
plt.subplot(1, 5, 2)
plt.hist(df4['Vídeos'], bins=30);
plt.title('Vídeos');
plt.xlabel('Amount performed');
plt.subplot(1, 5, 3)
plt.hist(df4['Questões'], bins=30);
plt.title('Questões');
plt.xlabel('Amount performed');
plt.subplot(1, 5, 4)
plt.hist(df4['Simulados'], bins=30);
plt.title('Simulados');
plt.xlabel('Amount performed');
plt.subplot(1, 5, 5)
plt.hist(df4['Logins'], bins=30);
plt.title('Logins');
plt.xlabel('Amount performed');

**Considering the school methods, are the students engaged? How can we define engagement?**

Apparently **NOT**! If we consider engagement as the rate of activities the students perform after classes, we can clearly see there's not much activities being done outside the class!

The less worst activity done by the students (Questions) had an **absence rate over 50%**.

# Student Churn

In [ ]:
df5 = df.copy()

In [ ]:
#Checking general churn rates >>>> less than 15% >>>> -14.55014910175285
(df5['Data Cancel.'].isnull().sum()/df.shape[0]-1)*100

In [ ]:
df5 = df5.dropna(subset=['Data Cancel.'])
df5.reset_index(drop=True, inplace=True)

In [ ]:
df5['Data Cancel.'] = pd.to_datetime(df5['Data Cancel.'])
df5['Data Matr.'] = pd.to_datetime(df5['Data Matr.'])
df5['Delta'] = df5['Data Cancel.'] - df5['Data Matr.']

#df5['Data Cancel.'] = df5['Data Cancel.'].astype('datetime64[ns]')
#df5['Data Matr.'] = df5['Data Matr.'].astype('datetime64[ns]')

In [ ]:
df5['Days'] = ''

In [ ]:
for i in range(0, df5.shape[0]):
    df5['Days'][i] = df5['Delta'][i].days

df5.drop(columns={'Delta', 'ID Aluno'}, inplace=True)

In [ ]:
#680 records were incorrectly filled, so they won't be eligible for evaluation
df5[df5['Days'] < 0]

In [ ]:
df5.drop(df5[(df5['Days'] < 0)].index, inplace=True)

## Over 30 days

In [ ]:
df_over_30 = df5[df5['Days'] > 30]
df_over_30.describe()

In [ ]:
days = [d for d in df_over_30['Days']]

In [ ]:
#Checking the distribution of days until the cancelation
plt.figure(figsize=(15, 5))
plt.hist(days, bins=50);
plt.title('Cancellations After 30 Days');
plt.xlabel('Days');
plt.ylabel('Number of Students');

In [ ]:
df_over_30['Turma'].value_counts()

In [ ]:
df_over_30['Tutor'].value_counts()/df_over_30.shape[0]*100

In [ ]:
df_over_30['Perfil'].value_counts()/df_over_30.shape[0]*100

In [ ]:
df_over_30['Faixa'].value_counts()

In [ ]:
plt.figure(figsize=(20, 3))
plt.subplot(1, 5, 1)
plt.hist(df_over_30['Redações'], bins=30);
plt.title('Redações');
plt.subplot(1, 5, 2)
plt.hist(df_over_30['Vídeos'], bins=30);
plt.title('Vídeos');
plt.subplot(1, 5, 3)
plt.hist(df_over_30['Questões'], bins=30);
plt.title('Questões');
plt.subplot(1, 5, 4)
plt.hist(df_over_30['Simulados'], bins=30);
plt.title('Simulados');
plt.subplot(1, 5, 5)
plt.hist(df_over_30['Logins'], bins=30);
plt.title('Logins');

The majority of students who left the course after 30 days were enrolled on 2 of the most relevant courses (obviously this would happen due to its proportion). However, a similar amount of drop off students were enrolled on the same course, but for different years.

One curious fact was that most of those students were having a Tutor's support (while the majority of students choose not to proceed with this condition). This could be a sign that the drop off students realized, along with their Tutors, that they were on the wrong path (maybe due to family pressure, maybe social values and expectation).

The extra-curricular activities went by the same way: the majority of students did not perform them.

The students didn't evolve during the process, once the highest amount of drop offs were still considered White Belts I.

## Under 14 days

In [ ]:
df_under_14 = df5[df5['Days'] < 15]
df_under_14.describe()

In [ ]:
days = [d for d in df_under_14['Days']]

In [ ]:
#Checking the distribution of days until the cancelation
plt.figure(figsize=(15, 5))
plt.hist(days, bins=10);

In [ ]:
df_under_14['Turma'].value_counts()/df_under_14.shape[0]*100

In [ ]:
df_under_14_med21 = df_under_14[df_under_14['Turma'] == 'Extensivo Medicina 2021']

In [ ]:
#df_under_14_med21['Tutor'].value_counts()
#SEM TUTOR    71
#COM TUTOR     1

df_under_14_med21['Logins'].value_counts()

In [ ]:
df_under_14['Tutor'].value_counts()

In [ ]:
df_under_14['Perfil'].value_counts()

In [ ]:
df_under_14['Faixa'].value_counts()

In [ ]:
plt.figure(figsize=(20, 3))
plt.subplot(1, 5, 1)
plt.hist(df_under_14['Redações'], bins=30);
plt.title('Redações');
plt.subplot(1, 5, 2)
plt.hist(df_under_14['Vídeos'], bins=30);
plt.title('Vídeos');
plt.subplot(1, 5, 3)
plt.hist(df_under_14['Questões'], bins=30);
plt.title('Questões');
plt.subplot(1, 5, 4)
plt.hist(df_under_14['Simulados'], bins=30);
plt.title('Simulados');
plt.subplot(1, 5, 5)
plt.hist(df_under_14['Logins'], bins=30);
plt.title('Logins');

The majority of students who left the course after 30 days were enrolled on 2 of the most relevant courses (obviously this would happen due to its proportion). However, a similar amount of drop off students were enrolled on the same course, but for different years.

Regarding the Tutor choice, there wasn't any specific flags.

The extra-curricular activities went by the same way: the majority of students did not perform them. However, we do see some outliers. probably some students who enrolled the course, downloaded everything he could on the first days and then requested the cancellation (but this profile is not significantly among the others).

The students didn't evolve during the process, once the highest amount of drop offs were still considered White Belts I.

# Tutor's Role

In [ ]:
df6 = df.copy()

In [ ]:
df6 = df6[df6['Tutor'] == 'COM TUTOR']
df6

In [ ]:
df6['Redações'].value_counts()[0]/df6.shape[0]*100 # >>>> 57.4668920822767

df6['Vídeos'].value_counts()[0]/df6.shape[0]*100 # >>>> 28.585517047055507

df6['Questões'].value_counts()[0]/df6.shape[0]*100 # >>>> 24.344885883347423

df6['Simulados'].value_counts()[0]/df6.shape[0]*100 # >>>> 53.46576500422654

df6['Logins'].value_counts()[0]/df6.shape[0]*100 # >>>> 43.27979712595097